@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  font-family: 'Titillium Web', sans-serif;
}

@layer base {
  .form-group {
    @apply mb-2;
  }

  .form-control {
    @apply py-[0.7rem] px-4 block w-full border border-gray-300 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 focus:outline-none;
  }

  .btn-circle {
    @apply rounded-full;
  }

  .btn-icon {
    @apply p-3;
  }

  .btn-custom {
    @apply bg-gradient-to-r from-primaryColor to-secondaryColor hover:from-blue-700 hover:to-blue-500 transition-all ease-in-out;
  }
}

@layer components {
  .btn-custom {
    background: #1475bd;
    background: -webkit-linear-gradient(80deg, #1475bd 0%, #1eade9 100%);
    background: linear-gradient(80deg, #1475bd 0%, #1eade9 100%);
    border-radius: 7px;

    &:hover {
      background: #1475bd;
    }
  }

  .btn-custom:disabled {
    background: #61d0ff;
    border-radius: 7px;
  }

  .navbar {
    background-color: #fff;
    box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
  }

  .search-bar-container {
    @apply md:min-w-[400px] lg:min-w-[700px];

    .main-search {
      @apply bg-[#f6f4f4] py-[10px] pl-[37px] pr-[20px] rounded-[30px] text-[14px] focus:bg-gray-200 dark:focus:bg-gray-900 dark:bg-base-gray-dark dark:text-dark-text;
    }
  }

  .wrapper {
    @apply bg-base-gray dark:bg-base-gray-dark;
  }

  .post-card,
  .card {
    @apply shadow-light-shadow dark:shadow-none;
  }

  .list-group-item {
    @apply px-5 py-3 flex items-center gap-x-3 rounded-md relative hover:cursor-pointer hover:after:content-[''] hover:text-primaryColor hover:after:absolute hover:after:left-0 hover:after:top-[50%] hover:after:w-1 hover:after:h-[50%] hover:after:bg-primaryColor hover:after:rounded-sm hover:after:-translate-y-[50%] dark:text-dark-text;

    &:hover {
      @apply shadow-light-shadow dark:shadow-dark-shadow;
    }

    &.active {
      @apply after:content-[''] text-primaryColor after:absolute after:left-0 after:top-[50%] after:w-1 after:h-[50%] after:bg-primaryColor after:rounded-sm after:-translate-y-[50%] dark:text-dark-text;
    }
  }

  .story-container {
    @apply w-full;
  }

  .floating-btn {
    position: absolute;
    bottom: 28px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    background: #1475bd;
    background: -webkit-linear-gradient(29deg, #1475bd 0%, #1eade9 100%);
    background: linear-gradient(29deg, #1475bd 0%, #1eade9 100%);
    box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
  }

  .is-invalid {
    @apply border-2 border-red-600 text-red-600;
  }

  svg.active {
    @apply fill-red-600 stroke-2 stroke-red-600;
  }
}

swiper-slide {
  width: 100px !important;
}

/* You can add global styles to this file, and also import other style files */
