@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  font-family: 'Titillium Web', sans-serif;
}

@layer base {
  .form-group {
    @apply mb-2;
  }

  .form-control {
    @apply py-[0.7rem] px-4 block w-full border border-gray-300 rounded-none text-sm focus:border-blue-500 focus:ring-blue-500 focus:outline-none;
  }
}

@layer components {
  .btn-custom {
    background: #1475bd;
    background: -webkit-linear-gradient(80deg, #1475bd 0%, #1eade9 100%);
    background: linear-gradient(80deg, #1475bd 0%, #1eade9 100%);

    &:hover {
      background: #1475bd;
    }
  }
}

/* You can add global styles to this file, and also import other style files */
